body {
    width: 100%;
    position: relative;
    height: 100%;
    padding-bottom: 5rem;
}

#logo {
    color: white;
}

.flex {
    display: flex;
}

.flex-center {
    align-items: center;
}
.flex-center {
    justify-content: center;
}

.flex-space {
    justify-content:space-between;
}

header {
    width: 100%;
    background-color: black;
}

#header-content {
    height: 4rem;
    max-width: 960px;
    margin: 0 auto;
}

#header-content li {
    margin-left: 20px;
}

#header-content li a {
    text-decoration: none;
    color: white;
    font-family: 'Lora', serif;
}

footer {
    width: 100%;
    background-color: black;
    position: absolute;
    bottom: 0;
    height: 5rem;
    color: white;
    font-family: 'Lora', serif;
}

/*
 * Mobile
 */
@media screen and (max-width:768px) {
    header {
        padding: 0 10px;
    }
    footer {
        padding: 0 10px;
        font-size: 12px;
    }
}

/*********************
About start
**********************/
.about{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas: "story pictures";
    background: url("img/backgroundabout.jpg") center no-repeat   ;
}
#story{
    grid-row-gap: 40px;
    padding-left: 90px;
    padding-top: 20px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "first"
                         "second";
}
#first{
    font-family: Arial, Helvetica, sans-serif;
    grid-area: first;
    height: 60%;
    width: 80%;
    font-size: 1.6em;
    text-align: justify;
    color: white;
}
#second{
    font-family: Arial, Helvetica, sans-serif;
    grid-area: second;
    height: 40%;
    width: 80%;
    font-size: 1.6em;
    text-align: justify;
    color: white;
}
#pictures{
    display: grid;
    grid-column: auto;
    grid-template-rows: minmax(150px, auto) minmax(150px, auto) minmax(150px, auto);
    grid-template-areas: "picture1"
                         "picture2"
                         "picture3";    
}
#pic1, #pic2, #pic3{
    height: 230px;
    border-radius: 50px;
}
#pic1{
    filter: grayscale(100%);
    margin-left: 300px;
}
#pic2{
    height: 300px;
}
#pic3{
    margin-left: 300px;
    margin-top: -20px;
}
#picture2{
    z-index: 50;
    margin-top: -40px;
    margin-left: -50px;
}
#picture3{
    margin-top: -30px;
}

@media screen and (max-width: 1380px) {
    #pic1, #pic3{
        margin-left: 100px;
    }
    #first, #second{
        font-size: 1.3em;
    }
}
@media screen and (max-width: 1000px) {
    #pic1, #pic2, #pic3{
        margin-left: 70px;
        height: 170px;
      
    }
    #first, #second{
        font-size: 1em;
    }
}
@media screen and (max-width: 740px) {
    #pic1, #pic2, #pic3{
        margin-left: 50px;
        height: 150px;
    }
    #first, #second{
        font-size: 0.8em;
    }
}
@media screen and (max-width: 620px) {
    #pic1, #pic2, #pic3{
        margin-left: 30px;
        height: 125px;
    }
    #first, #second{
        font-size: 0.7em;
    }
    #pic2{
        margin-top: 20px;
    }
    #pic3{
        margin-top: 0px;
    }
}

/*********************
About end
**********************/

/*********************
contact and location start
**********************/
* {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    background: #eee;
}

div.contact_form {
    width: 50%;
    height: 450px;
}

div.contact_info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    height: 100px;
    margin-left: 10%;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h3 {
    margin-top: 20px;
    font-size: 0.8rem;
}

i {
    margin-right: 10px;
}

.form-style {
	margin:10px auto;
	max-width: 80%;
	padding: 20px 12px 10px 10px;
	font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}
.form-style label{
	margin:0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: bold;
}
.form-style input[type=text], 
.form-style input[type=email],
textarea{
	box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 7px;
	margin:0px;
	outline: none;	
}
.form-style input[type=text]:focus, 
.form-style input[type=email]:focus,
.form-style textarea:focus {
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
}
.form-style .field-divided{
	width: 49%;
}

.form-style .field-long{
	width: 100%;
}

.form-style .field-textarea{
	height: 100px;
}
.form-style input[type=submit], .form-style input[type=button]{
	background: #4B99AD;
	padding: 8px 15px 8px 10px;
	border: none;
	color: #fff;
}
.form-style input[type=submit]:hover, .form-style input[type=button]:hover{
	background: #4691A4;
	box-shadow:none;
}
.form-style .required{
	color:red;
}


.location {
    width: 50%;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.location2 {
    display: none;
}

@media screen and (max-width: 740px) {
    h3.address {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 648px) {
    h3.address {
        font-size: 0.65rem;
    }
}

@media screen and (max-width: 515px) {
    .form-style {
        margin-left: 3px;
    }

    .form-style .field-divided{
        width: 100%;
    }

}

@media screen and (max-width: 515px) {
    .form-style {
        margin-left: 3px;
    }

    .form-style .field-divided{
        width: 100%;
    }

}

@media screen and (max-width: 420px) {
    .form-style {
        /* margin-left: 3px; */
        font-size: 0.5rem;
        max-width: 90%;
        margin: 0 auto;
    }

    .form-style .field-divided{
        width: 100%;
    }

    div.contact_form {
        width: 100%;
        margin: 0 auto;
    }

    .location {
        display: none;
        width: 0%;
    }

    .location2 {
        display: block;
        width: 100%;
        height: 420px;
    }
}


/*********************
contact and location end
**********************/